:root {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100vh;
    width: 100vw;
    --accent: #3D59C7;
    --background: #FFFFFF;
    --warning: #FA4343;
}

.submit-button {
    background-color: var(--accent);
    color: var(--background);
    outline: none;
    border-radius: 4px;
    border: none;
    padding: 10px;
}

.error-message {
    color: var(--warning);
}

body {
    width: 100%;
    height: 100%;
}

.page {
    display: flex;
    width: 100%;
    height: 100%;
}

#sidemenu {
    flex: 1;
    background-color: var(--accent);
}

#main-container {
    flex: 20;
    min-width: 100px;
}

input.invalid {
    border: 1px solid var(--warning);
}